{% extends 'blog/base.html' %}

{% block content %}
<h2>회원가입</h2>
<form method="post" action="">
    {% csrf_token %}
    <!--
	form, form.as_p, form.as_table, form.as_ul
	{{ form }}
    -->

    <div>
    	<tr><th><label for="id_username">사용자 이름:</label></th><td><input type="text" name="username" maxlength="150" required id="id_username" /><br /><span class="helptext">150자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</span></td></tr>
		<tr><th><label for="id_email">이메일 주소:</label></th><td><input type="email" name="email" maxlength="254" id="id_email" /></td></tr>
		<tr><th><label for="id_password">비밀번호:</label></th><td><input type="password" name="password" maxlength="128" required id="id_password" /></td></tr>
    </div>
    <input type="submit" value="회원가입" />
</form>
{% endblock %}