{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0//bootstrap-theme.min.css">
	-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
        <div class="header-title">
            <a href="/">
                <div class="big-title">
                    KART RIDER
                </div>
                <div class="small-title">
                    Dictionary
                </div>
            </a>
        </div>
        <div class="menu">
            <div class="m-depth1">
                카트바디
            </div>
            <div class="m-depth1">
                캐릭터
            </div>
            <div class="m-depth1">
                파츠
            </div>
            <div class="m-depth1">
                자유게시판
            </div>
            <div class="m-depth1">
                문의사항
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu">
            추가하기
        </a>
    {% endif %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                

                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>