{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0//bootstrap-theme.min.css">
	-->
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/kart_body.css' %}">
</head>
<body>
    <div class="page-header">
        <div class="header-title">
            <a href="{% url 'post_list' %}">
                <div class="big-title">
                    KART RIDER
                </div>
                <div class="small-title">
                    Dictionary
                </div>
            </a>
        </div>
        <div class="menu">
            <div class="m-depth1">
                <a href="{% url 'kart_list' %}">
                    카트바디
                </a>                
            </div><div class="m-depth1">
                캐릭터
            </div><div class="m-depth1">
                파츠
            </div><div class="m-depth1">
                자유게시판
            </div><div class="m-depth1">
                문의사항
            </div>
        </div>
    </div>

    

    {% if user.is_authenticated %}
        <a href="{% url 'post_new' %}" class="top-menu">
            추가하기
        </a>&nbsp;&nbsp;
        <a href="{% url 'post_draft_list' %}" class="top-menu">Edit</a>
        <p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
    {% else %}
        <a href="{% url 'login' %}" class="top-menu">
            몽땅따
        </a>
        <a href="{% url 'join' %}" class="top-menu">
        회원가입
        </a>
    {% endif %}

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <footer>
        Made By. 8대 불가사의, eu_ri<br>
        copyright ⓒ 8대 불가사의, eu_ri all rights reserved.
    </footer>
</body>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
</html>