{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {{kart.name}}
    </div>

    <div class="view-area">
	    <div id="detail-tab">
	    	<div id="tab1" class="tab" >
	    		이미지
	    	</div><div id="tab2" class="tab">
	    		능력치
	    	</div><div id="tab3" class="tab">
	    		역사
	    	</div>
	    </div>
	    <div class="content">
	    	<div id="view1" class="view">
	    		<img class="img-kart" src="{{kart.body_img}}"/>
	    	</div>
	    	<div id="view2" class="view">{{kart.ability_text}}</div>
	    	<div id="view3" class="view">{{kart.history_text}}</div>
	    </div>
	    <div class="simple-text">
	    	{{kart.simple_text}}
	    </div>
	</div>

	<div class="board-area">
		bb
	</div>
	
{% endblock %}