{% extends 'blog/base.html' %}

{% block content %}
	{% for Kartbody in karts %}
		<div class="kart-list">
			<a href="{% url 'kart_detail' kart_code=Kartbody.kart_code %}">
				<img class="kart-img"src="{{Kartbody.body_img}}"/>
				<div class="inform-field">
					<div class="kart-name">
						{{Kartbody.name}}
					</div>
					<div class="kart-type">
						<div class="t-level">
							{{Kartbody.level}}
						</div>
						<div id="class{{forloop.counter}}" class="t-class" value="{{Kartbody.kart_class}}">
							{{Kartbody.kart_class}}
						</div>
					</div>
				</div>
			</a>
		</div>
	{% endfor %}
{% endblock %}