.kart-list { 
	position: relative;
	float: left;
	width: 33.3%;
	text-align: center;
	height: auto;
	background-color: #FFFFFF;
}
.kart-list a{ display: inline-block; text-decoration:none; color: #888888;}
.kart-list a:link { text-decoration: none; }
.kart-list a:visited { text-decoration: none; }
.kart-list a:active { text-decoration: underline; }


.kart-list a:hover{ 
	color: #FF9900;
}

.kart-list .kart-img {
	width: 200px;
	height: 200px;
}
.kart-list .inform-field{ vertical-align: top; }
.kart-list .inform-field .kart-name{ padding: 10px 10px; font-size: 30px; line-height:30px; font-weight: bold; }
.kart-list .inform-field .kart-type .t-level, .kart-list .inform-field .kart-type .t-class{ display: inline-block; font-size: 20px; padding: 0 10px;}
.unique{
	color: #f8f017;
}

.post{
	line-height: 50px;
	text-align: center;
	font-size: 30px;
}


.view-area{ width: 100%; height:500px; }
.view-area #detail-tab{ width: 100%; height: 80px; margin:0; padding:0; text-align:center;}
.view-area .content { width: 100%; height:320px; background-color: #00FFFF; z-index: 1;}
.view-area .simple-text { width: 100%; height:100px; background-color: #0099FF; text-align: center;padding: 10px;}
.tab{ display: inline-block; width: 33.2%; margin:0; padding:0; font-size: 30px; text-align: center;  }
#tab1,
#tab2,
#tab3{ z-index: -1; background-color: #999999; border:0.1% solid #428bca; border-radius: 10px 10px 0 0; color:#FFFFFF; height: 100%; vertical-align: bottom; bottom:0;}
.view-area .content .view { padding: 20px; text-align: center; }
.view-area .content #view1 .img-kart{ width: 280px; height:280px; background-color: #000000; }

#board-area{ width: 100%; height:500px; padding-top: 1px; background-color: #DDDDDD; }
#board-area .comment-write{
	width: 70%;
	margin: 0 auto;
	box-shadow: 0 5px 5px 5px #888888;
}
#board-area .comment-write .post-form{
	width: 100%;
	height: 70px;
	margin-top: 20px;
	padding-bottom: 2px;
	background-color: #FFFFFF;
	text-align: center;
}
#board-area .comment-write .post-form *{
	padding: 0;
	margin: 0;
	font-size: 1rem;
}
#board-area .comment-write textarea{
	display: inline-block;
	width: 85%;
	height: 70px;
	border: 0;
	border-top: 3px solid #428bca;
	border-bottom: 2px solid #428bca;
	vertical-align: middle;
	resize: none;
}

#board-area .comment-write button{
	display: inline-block;
	width: 15%;
	height: 75px;
	border: 0;
	border-top: 3px solid #428bca;
	border-bottom: 2px solid #428bca;
	border-left: 1px solid #428bca;
	vertical-align: top;
	color: #FFFFFF;
	background-color: #428bca;
	resize: none;
	cursor: pointer;
}
#board-area .comment-view{
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: #FFFFFF;
}

#board-area .comment-view .user-id,
#board-area .comment-view .user-text{
	display: inline-block;
	height: 20px;
	padding: 10px 1%;
	border-top: 1px solid #428bca;
}
#board-area .comment-view .user-id{
	width: 13%;
}
#board-area .comment-view .user-text{
	width: 83%;
	text-align: left;
}

