.kart-list { 
	position: relative;
	float: left;
	width: 33.3%;
	text-align: center;
	height: auto;
	background-color: #FFFFFF;
}
.kart-list a{ display: inline-block; text-decoration:none; }
.kart-list a:link { color: black; text-decoration: none; }
.kart-list a:visited { color: black; text-decoration: none; }

.kart-list .kart-img {
	width: 200px;
	height: 200px;
}
.kart-list .inform-field{ vertical-align: top; }
.kart-list .inform-field .kart-name{ padding: 10px 10px; font-size: 30px; line-height:30px; font-weight: bold; }
.kart-list .inform-field .kart-type .t-level, .kart-list .inform-field .kart-type .t-class{ display: inline-block; font-size: 20px; padding: 0 10px;}
.unique{
	color: #f8f017;
}

.post{
	line-height: 50px;
	text-align: center;
	font-size: 30px;
}


.view-area{ width: 100%; height:500px; }
.view-area #detail-tab{ width: 100%; height: 80px; margin:0; padding:0; text-align:center;}
.view-area #detail-tab .tab1,
.view-area #detail-tab .tab2,
.view-area #detail-tab .tab3{ display: inline-block; width: 33.2%; height: 80px; margin:0; padding:0; font-size: 30px; line-height: 84px; text-align: center;}
.view-area .content { width: 100%; height:320px; background-color: #00FFFF; z-index: 1;}
.view-area .simple-text { width: 100%; height:100px; background-color: #0099FF; text-align: center;padding: 10px;}
.tab1{ z-index: 0; background-color: #428bca; border:0.1% solid #428bca; border-radius: 10px 10px 0 0; color:#FFFFFF;}
.tab2,
.tab3{ z-index: -1; background-color: #999999; border:0.1% solid #428bca; border-radius: 10px 10px 0 0; color:#FFFFFF; }